.fox {
  width: 10vh;
  height: 10vh;
}
.school {
  height: 26.5vh;
}
#main {
  width: 40%;
}
.mojiIspitiTabela {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2vh solid black;
  padding-bottom: 0.5vh;
}
.raspored {
  font-size: 1.2vh;
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 99%;
}
table th {
  color: white;
  background-color: #414141;
  padding: 1vh 2vh;
  font-size: 1vh;
}
table td {
  background-color: rgb(201, 201, 201);
  padding: 1vh 2vh;
  font-size: 1vh;
  border-bottom: 0.2vh solid rgb(185, 185, 185);
}
.cardWrapper {
  display: flex;
  justify-content: space-around;
  font-size: 1.2vh;
  overflow: hidden;
}
.cardOne img {
  float: left;
}
.cardTwo img {
  float: left;
}
.cardTwo {
  overflow: hidden;
  width: 45%;
}
.cardOne {
  overflow: hidden;
  width: 45%;
}
